@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
body {
  /* background-color: #0d1117; */
  background-color: #202225;
  color: #ffffff;
}
.popup-enter {
  opacity: 0;
  /* transform: scale(-100%); */
  transform: scale(0.6);
}

.popup-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 300ms;
}

.popup-exit {
  opacity: 1;
  transform: scale(1);
}

.popup-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 200ms, transform 300ms;
}